body {
    background: linear-gradient(#cfd9df, #e2ebf0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.weather-card {
    width: 700px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.search button {
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
    margin-left: 6px;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.temp h2 {
    font-size: 64px;
    margin: 0;
}

.icon img {
    width: 90px;
    height: 90px;
}

.details p {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 6px 0;
}

.small-icon {
    width: 18px;
    height: 18px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.day {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 12px;
    width: 120px;
    text-align: center;
    font-size: 14px;
}

.day img {
    width: 30px;
    height: 30px;
    margin: 6px 0;
}
